/*registration*/
.block_reg {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.block_reg__form {
	display: flex;
	flex-direction: column;
}

/*records*/
.table_rec {
	border: 2px solid black;
	padding: 10px;
}

.table_rec th {
	font-size: 25px;
	font-family: Arial;
}

.table_rec td {
	font-size: 18px;
	font-family: Arial;
	text-align: center;
	border: 2px solid black;
	padding: 10px;
	margin: 0;
}